[Unit]
Description=MariaDB Container

[Container]
Image=p-mariadb.build
ContainerName=mariadb
Environment=MARIADB_ROOT_PASSWORD=PASSWORD
ServiceName=pc-mariadb

[Install]
WantedBy=multi-user.target
