[Unit]
Description=MariaDB Container

[Container]
Image=mariadb-custom
ContainerName=mariadb
Environment=MARIADB_ROOT_PASSWORD=PASSWORD
ServiceName=pc-mariadb

[Install]
WantedBy=multi-user.target
